td div label, td div input {
    width: 100%;
    padding:5px 2px;
    display: block;
}

.taskInfo a {
    cursor: pointer;
    display: inline-block;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: .78571429em 1.5em .78571429em;
    font-weight: 700;
    line-height: 1em;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, .6) inset !important;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .6) inset !important;
    color: rgba(0, 0, 0, .6);
    transition: opacity .3s ease, color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

.taskInfo a:hover {
    -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, .8) inset !important;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .8) inset !important;
    color: rgba(0, 0, 0, .8);
    transition: opacity .3s ease, color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
}